@model EmployeeManagement.Presentation.Models.Employees.EmployeeListViewModel

@{ 
    ViewBag.Title = "EMS - Employees List";
}

<div class="row">
    @foreach (var employee in Model.Employees)
    {
        string photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");

        <div class="col-md-3">
            <div class="card mx-1 my-3">

                <div class="card-header">
                    <h5 class="card-title">@employee.Name</h5>
                </div>

                <img class="card-img-top empimage" src="@photoPath" asp-append-version="true" />

                <div class="card-body">
                    <p class="card-text">Email: @employee.Email</p>
                    <p class="card-text">Department: @employee.Department</p>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary" title="view">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="#" class="btn btn-primary" title="edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-danger" title="delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
